{{ include('/base/header.html') }}
<div class="row m-2">
  <div class="col align-self-center"><a class = "pl-sm-4" href="/">Главная страница</a></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">{{ controller('\\App\\Widgets\\CurrentLoginController', 'render', [0]) }}</div>
</div>
<div class="row border border-primary">
<div class="col-3">
    {% include '/admin/menu.twig.html' with {'roleid' : roleid} %}
</div>
    <div class="col-8" id="adminMainWindow">
        <form id="editDataForm" method="post" action="" enctype="multipart/form-data">
          <input type="hidden" name="mode" value="{{ mode }}">
          <input type="hidden" name="id" value="{{ comment[0] }}">
          <div class="form-group">
            <label for="exampleFormControlInput1">Заголовок</label>
            <input name="title" type="text" class="form-control" id="exampleFormControlInput1" value='{{ comment[1] }}' required="">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Контент</label>
            <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="15" required="">{{ comment[2] }}</textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="editButton">Submit</button>
        </form>

    <div class="modal fade" id="registerFormWindowMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel">Сообщение</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body" id="statusMessage">
                    Message
                </div>
            </div>
        </div>
    </div>

    </div>
</div>
{{ include('/base/footer.html') }}