{{ include('/base/header.html') }}
<div class="row m-2">
  <div class="col align-self-center"><a class = "pl-sm-4" href="/">Главная страница</a></div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col">{{ controller('\\App\\Widgets\\CurrentLoginController', 'render', [0]) }}</div>
</div>
<div class="row border border-primary">
<div class="col-3">
    {% include '/admin/menu.twig.html' with {'roleid' : roleid} %}
</div>
    <div class="col-8" id="adminMainWindow">

    <table class="table table-striped">
          <thead>
              <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>группа</th>
                <th>email</th>
                <th>подписан</th>
                <th>&nbsp;</th>
              </tr>
          </thead>
        <tbody>
            {% for user in userlist %}
            <tr>
                <td>{{ user[0] }}</td>
                <td><a href="http://{{ servername }}/profile/edit/{{ user[0] }}">{{ user[1] }}</a></td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>{% if user[4] == 1 %} да {% else %} нет {% endif %}</td>
                <td><a href="http://{{ servername }}/profile/delete/{{ user[0] }}"">Удалить</a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{{ include('/base/footer.html') }}