    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/view/js/jquery.js"></script>
    <script src="/view/js/jquery-ui.js"></script>
    <script src="/view/js/popper.min.js"></script>
    <script src="/view/js/bootstrap.min.js"></script>
    <script src="/view/js/holder.js"></script>
    <script src="/view/js/jscripts.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
