      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex">
        {% for link in links %}
            <a class="p-2 text-muted" href="{{ link[2] }}">{{ link[1] }}</a>
        {% endfor %}
        </nav>
      </div>